body {
    margin: 13px;
  }
  
  .row div {
    padding: 6px;
  }

.col-lg-1{
    font-size: 11px ; 
}

.col-lg-6, .col-lg-2 {
    font-weight: bold;
}
img.rounded-circle {
    float: right;
}
img.rounded {
    float: left;
}